table ip openvpn_course_nat {
  chain postrouting {
    type nat hook postrouting priority srcnat; policy accept;
    ip saddr {{ openvpn_vpn_cidr }} ip daddr {{ openvpn_windows_cidr }} tcp dport 3389 masquerade
  }
}
