PROFILE_PATH={{ openvpn_profile_path | quote }}
PKI_DIR={{ openvpn_pki_dir | quote }}
ACTIVE_CLIENT_CN_FILE={{ openvpn_active_client_cn_file | quote }}
SERVER_CRL_PATH=/etc/openvpn/server/crl.pem
LAST_SHARED_KEY_FILE=/var/lib/openvpn-course/last-shared-key
STATUS_PATH={{ openvpn_status_path | quote }}
ENDPOINT={{ openvpn_endpoint | quote }}
VPN_CIDR={{ openvpn_vpn_cidr | quote }}
WINDOWS_CIDR={{ openvpn_windows_cidr | quote }}
PROFILE_BUCKET={{ openvpn_profile_bucket | quote }}
AWS_REGION={{ openvpn_aws_region | quote }}
MUTATION_LOCK_PATH={{ openvpn_mutation_lock_path | quote }}
OPENVPN_PORT={{ openvpn_port | string | quote }}
OPENVPN_PROTOCOL={{ openvpn_protocol | quote }}
