- name: Show Docker Compose Running Status
  hosts: all
  become: true
  become_user: root
  vars_files:
    - common/vars.yml
  vars:
    docker_compose_dir: "/data/a11yvillage-web{{ project_postfix }}"
    secret_name: prod/rdsuser/a11yvillage
    traefik_certresolver: "a11yvillage-web{{ project_postfix }}"
    traefik_router_prefix: "a11yvillage-web-service{{ project_postfix }}--"
    image_name: "{{ ecr_location }}/a11yvillage-fe:{{ deploy_tag }}"
    project_name: a11yvillage-fe
  collections:
    - community.docker
    - community.aws
  tasks:
    - name: Include pre-common tasks
      include_tasks: common/pre-common.yml

    - name: Create .env file
      copy:
        dest: "{{ docker_compose_dir }}/.env"
        content: |
          NEXT_PUBLIC_API_URL=https://api.a11yvillage.coseeing.org/
          NEXT_PUBLIC_RESOURCE_URL=https://a11yvillage.s3.ap-northeast-1.amazonaws.com/

    - name: Copy docker-compose.yml Document
      copy:
        dest: "{{ docker_compose_dir }}/docker-compose.yml"
        content: |
          version: "3.7"
          services:
            a11yvillage-web:
              container_name: a11yvillage-web
              image: {{ image_name }}
              restart: always
              deploy:
                resources:
                  limits:
                    cpus: '0.70'
                    memory: '1G'
              labels: {{ (['traefik.enable=true', 'traefik.docker.network=entry'] + traefik_labels_list) | to_json }}
              networks:
                - default
                - entry
              env_file:
                - .env

          networks:
            entry:
              driver: bridge
              name: entry

    - name: Include post-common tasks
      include_tasks: common/post-common.yml
