- name: Show Docker Compose Running Status
  hosts: all
  become: true
  become_user: root
  vars_files:
    - common/vars.yml
  vars:
    docker_compose_dir: "/data/coseeing-server{{ project_postfix }}"
    secret_name: prod/rdsuser/coseeing
    traefik_certresolver: "coseeing-api{{ project_postfix }}"
    traefik_router_prefix: "coseeing-api-service{{ project_postfix }}--"
    image_name: "{{ ecr_location }}/coseeing-be:{{ deploy_tag }}"
    project_name: coseeing-be
  collections:
    - community.docker
    - community.aws
  tasks:
    - name: Include pre-common tasks
      include_tasks: common/pre-common.yml

    - name: Get info from AWS secret manager
      set_fact:
        secret_data: "{{ lookup('amazon.aws.aws_secret', secret_name, region=secret_region) | from_json }}"

    - name: Set fact from secret_json 
      set_fact:
        SECRET_KEY: "{{ secret_data.SECRET_KEY }}"
        MARIADB_USER: "{{ secret_data.username }}"
        MARIADB_PASSWORD: "{{ secret_data.password }}"
        MARIADB_HOST: "{{ secret_data.host }}"
        MARIADB_PORT: "{{ secret_data.port }}"
        MARIADB_DATABASE: "{{ secret_data.database }}"

    - name: Create .env file
      copy:
        dest: "{{ docker_compose_dir }}/.env"
        content: |
          SECRET_KEY={{ SECRET_KEY }}
          MARIADB_USER={{ MARIADB_USER }}
          MARIADB_PASSWORD={{ MARIADB_PASSWORD }}
          MARIADB_HOST={{ MARIADB_HOST }}
          MARIADB_PORT={{ MARIADB_PORT }}
          MARIADB_DATABASE={{ MARIADB_DATABASE }}
          ALLOWED_HOSTS=*
          HOST=https://coseeing.org

    - name: Copy docker-compose.yml Document
      copy:
        dest: "{{ docker_compose_dir }}/docker-compose.yml"
        content: |
          services:
            coseeing-server:
              container_name: "coseeing-server{{ project_postfix }}"
              image: {{ image_name }}
              restart: always
              volumes:
                - coseeing-storage:/data
              networks:
                - default
                - entry
              labels: {{ (['traefik.enable=true', 'traefik.docker.network=entry'] + traefik_labels_list) | to_json }}
              deploy:
                resources:
                  limits:
                    cpus: '0.20'
                    memory: 0.3G
              command: ["sh", "-c", "python manage.py runserver 0.0.0.0:8000"]
              env_file:
                - .env

          volumes:
            coseeing-storage:
              driver: rclone
              driver_opts:
                remote: 'coseeing-s3:coseeing'
                allow_other: 'true'
                vfs_cache_mode: full
                poll_interval: 0

          networks:
            entry:
              driver: bridge
              name: entry

    - name: Include post-common tasks
      include_tasks: common/post-common.yml
